@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,300");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 100%;
}

/*16px*/
body {
  background: #fffffe;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #0f0e17;
}

p {
  margin-bottom: 1rem;
  color: #a7a9be;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: #fffffe;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small, .text_small {
  font-size: 0.8rem;
}

.contact_btn, #portfolio-btn {
  margin: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: none;
  font-family: Josefin Sans;
  color: #fffffe;
  background-color: #21b88e;
}

.q-card {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  background-color: #0f0e17;
  width: 100vw;
  height: 60vh;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.q-card .image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 2rem;
}

.q-card h2 {
  color: #fffffe;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.q-card p {
  color: #a7a9be;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.p-card {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  background-color: #0f0e17;
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
  height: 40rem;
}

.p-card .image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 2rem;
}

.p-card h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
}

.p-card p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.about-me {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  background-color: #0f0e17;
  width: 100vw;
  height: 60vh;
  background-image: url("../../public/img/Group 39@3x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 50rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.about-me .image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 2rem;
}

.about-me h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
}

.about-me p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.about-me .img-me {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 2rem;
}

.contact {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  background-color: #0f0e17;
  width: 100vw;
  height: 60vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 2rem;
}

.contact h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
}

.contact p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  height: 40rem;
  margin: 0 auto;
}

.contact-btn {
  margin: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: none;
  font-family: Josefin Sans;
  color: #fffffe;
  background-color: #21b88e;
}

body {
  background: #fffffe;
  width: 100vw;
  font-family: Josefin Sans;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "header header header" "hero hero hero" "quali quali quali" "quali quali quali" "quali quali quali" "port port port" "port port port" "port port port" "about about about" "contact contact contact" "footer footer footer";
}

@media only screen and (min-width: 860px) {
  body {
    -ms-grid-columns: 1.5em minmax(400px, 650px) minmax(200px, 350px) 1.5em;
        grid-template-columns: 1.5em minmax(400px, 650px) minmax(200px, 350px) 1.5em;
        grid-template-areas: "header header header header" ". hero hero hero ." ". quali quali quali ." ". port port ." ". port port ." ". port port." ". about about ." ". contact contact ." "footer footer footer footer";
  }
}

@media only screen and (min-width: 860px) {
  body {
    -ms-grid-columns: minmax(1.5em, 1fr) minmax(650px, 960px) 450px minmax(1.5em, 1fr);
        grid-template-columns: minmax(1.5em, 1fr) minmax(650px, 960px) 450px minmax(1.5em, 1fr);
        grid-template-areas: "header header header header" "hero hero hero hero " "quali quali quali quali" "port port port port" "port port port port" "port port port port" "about about about about" "contact contact contact" "footer footer footer footer";
  }
}

header {
  grid-column: header / header;
}

.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: hero;
}

.qualifications {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: quali;
}

.portfolio {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: port;
}

.about {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: about;
}

.contact {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contact;
}

footer {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Abril Fatface;
}

header {
  width: 100vw;
  padding: 1rem;
  background-color: #0f0e17;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
  list-style: none;
}

nav ul li {
  padding-right: 2rem;
}

nav ul li a {
  color: #fffffe;
}

nav ul li a:hover {
  color: #21b88e;
}

.hero {
  padding-left: 3rem;
  padding-top: 4rem;
  background-image: url("../../public/img/face op@3x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #0f0e17;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text {
  padding-top: 12rem;
  padding-right: 3rem;
  color: #fffffe;
}

.hero-text h1 {
  color: #f25f4c;
  margin: 0rem;
}

.hero-text h2 {
  margin: 0;
}

.hero-text .front-end-h2 {
  text-transform: uppercase;
}

.hero-text h5 {
  color: #a7a9be;
  margin-top: 0;
  text-transform: lowercase;
}

/*.hero-section {
  display: flex;
  flex-direction: row;
  
}*/
/*#img-face {
  img {
    flex: 1;
    height: 100vh;
    width: auto;
    grid-column: 1/ 2;
    
  }
} */
#portfolio-btn {
  background-color: #ff8906;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin-left: 0;
  margin-top: 0;
}

.qualifications-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qualifications-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=styles.css.map */