//everything that is reusable – buttons, navbars, cards, and so on

.contact_btn {
  margin: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: none;
  font-family: $paragraph_font;
  color: $headline;
  background-color: $highlight;
  
} 

.q-card {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  background-color: $primary;
  width: 100vw;
  height: 60vh;
  
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  
  .image {
    align-self: center;
    padding-top: 2rem;
  }
  
  h2 {
    color: $headline;
    align-self: center;

  }
  p {
    color: $paragraph;
    align-self: center;
    padding: 0 2rem 0 2rem;
    text-align: center;
  }
}

.p-card {
  @include dark-card;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  height: 40rem;
}

.about-me {
  @include dark-card;
  background-image: url("../../public/img/Group\ 39@3x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  
  .img-me {
    align-self: center;
    padding-top: 2rem;
  }
}

.contact {
  @include dark-card;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  
  
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40rem;
  margin: 0 auto;
}

.contact-btn {
  @include btn
  
}