//everything that is reusable – buttons, navbars, cards, and so on

header {
  
  width: 100vw;
  background-color: $primary;
  position: fixed;
  display:flex;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  ul {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80vw;
    list-style: none;
    

    li {
      padding-right: 2rem;
      
      
      a {
        color: $headline;
      }
    }
  }
};



.hero-section {
  
  
}

.img-holder {
 grid-column: 2;
}

.contact_btn {
  margin: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: none;
  font-family: $paragraph_font;
  color: $headline;
  background-color: $highlight;
  
}