//all the Sass code handling the layout, which is the container and grid systems


body {
  background: #fffffe;
  width: 100vw;
  font-family: $paragraph_font;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "hero hero hero"
    "quali quali quali"
    "quali quali quali"
    "quali quali quali"
    "port port port"
    "port port port"
    "port port port"
    "about about about"
    "contact contact contact"
    "footer footer footer"
}

@media only screen and (min-width: 860px) {
  body {
    grid-template-columns: 1.5em minmax(400px, 650px) minmax(200px, 350px) 1.5em;
    grid-template-areas:
      "header header header header"
      ". hero hero hero ."
      ". quali quali quali ."
      ". port port ."
      ". port port ."
      ". port port."
      ". about about ."
      ". contact contact ."
      "footer footer footer footer"
  }
}

@media only screen and (min-width: 860px) {
  body {
    grid-template-columns: minmax(1.5em, 1fr) minmax(650px, 960px) 450px minmax(1.5em, 1fr);
    grid-template-areas:
      "header header header header"
      "hero hero hero hero "
      "quali quali quali quali"
      "port port port port"
      "port port port port"
      "port port port port"
      "about about about about"
      "contact contact contact"
      "footer footer footer footer"
  }
}
  
header { grid-column: header / header; } 
.hero { grid-area: hero; }
.qualifications { grid-area: quali; }
.portfolio { grid-area: port; }
.about { grid-area: about; }
.contact { grid-area: contact; }
footer { grid-area: footer; }

a {
  text-decoration: none;
}

h1 {
  font-family: Abril Fatface;
  
}

header {
  
  width: 100vw;
  background-color: $primary;
  position: fixed;
  display:flex;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  ul {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80vw;
    list-style: none;
    

    li {
      padding-right: 2rem;
      
      
      a {
        color: $headline;
      }
    }
  }
};

.hero {
  padding-left: 3rem;
  padding-top: 4rem;
  background-image: url("../../public/img/face\ op@3x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $primary;
  
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  
} 

/*.hero-section {
  display: flex;
  flex-direction: row;
  
}*/

/*#img-face {
  img {
    flex: 1;
    height: 100vh;
    width: auto;
    grid-column: 1/ 2;
    
  }
} */

.hero-text {
  padding-top: 10vh;

  color: $headline;
  h1 {
    color: $secondary;
    margin: 0rem;
  }
  h2 {
    margin: 0;
  }
  .front-end-h2 {
    text-transform: uppercase;
  }
  h3 {
    color:$paragraph;
    text-transform: lowercase;
  }
}


#portfolio-btn {
  @extend .contact_btn;
  background-color: $button;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin-left: 0;
  margin-top: 0;
}

.qualifications-text {
  display:flex;
  flex-direction: column;
  
}

.qualifications-section {
  display: flex;
  flex-direction: column;
}